@import url('https://fonts.googleapis.com/css?family=Raleway|Lora|Montserrat|Nunito');


.menu a{
  color: var(--clr-Green-Mist);
   padding-left: 1em;
}
.menu li{
    float: left;
}
.menu a:hover{
    opacity: 1;
    color:var(--clr-Dell) !important;
  }

  
.info{
  display: grid;
}

.iam{
  padding-left: 130vw;
  font-size: 4rem;
  padding-bottom: -2vw;
}

.frontend{
  font-size: 5rem;
  padding-left: 68vw;
  padding-top: 5vw;
}
.name{
  font-size: 8rem;
  padding-left: 45vw;
}


  .container2 {
    height: 500px;
    margin-left: 15vh;
  }

  .right {
    margin-top: 87vw;
    display: inline-block;
    width: 338vw;
    display: grid;
  }

  .menu__logo{
    position: fixed;
    width: 60vw;
    height: 90px;
    margin-right: 0;
    z-index: 1;
    margin-top: 62px;
 
  }


  .about {
    display: flex;
  }
@media (min-width: 768px) {


    .menu__logo{
      position: fixed;
      width: 14vw;
      height: 70px;
      margin-right: 0;
      margin-top: 45px;
    }

    .right {
      margin-top: 20vw;
      display: inline-block;
      width: 92vw;
     
    }

    .info{
      display: flex;
    }

  .iam{
    padding-left: 18.5vw;
    font-size: 2rem;
    padding-top: 2.1vw;
  }

  .name{
    font-size: clamp(4rem,  5vw, 8rem);
    padding-left: 1vw;
  }

  .frontend{
    padding-left: 22.5vw;
    font-size: clamp(3rem, 4vw, 4.5rem);
    padding-top: 0;
  }


}