.awardlist {
  margin-top: 1px;
  margin-bottom: 100px;
}
.awardlist_title {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px;
}

.ul {
  list-style-type: none;
}

.li {
  margin-bottom: 80px;
}
.awardlist__block {
  border-left: 2px solid #909168;

  height: 600px;
  padding-bottom: 10px;
  margin-left: 40px;
  width: 500px;
}
.awardlist__block ::before {
  width: 12px;
  height: 12px;
  border: 2px solid #909168;
  position: absolute;
  content: "";
  background-color: #fff;
  left: 93px;
  margin-left: 40px;
}
.awardlist__block2 {
  border-left: 2px solid #909168;
  padding-left: 20px;
  height: 600px;
  padding-bottom: 80px;
  margin-right: 1px;
  width: 500px;
  padding-left: 20px;
  margin-left: 60px;
}
.awardlist__block2 ::before {
  width: 12px;
  height: 12px;
  border: 2px solid #909168;
  position: absolute;
  content: "";
  background-color: #fff;
  left: 93px;
  margin-left: 600px;
}
.aw {
  display: flex;
}

.row {
  display: inline-block;
}

.section2 {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 0px !important;
}

.section__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono, monospace;
  width: 13ch;
  animation: typing 2s steps(12), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.awardlist__blocktitle {
  color: #171920;
  font-size: 17px;
  line-height: 20px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  padding-bottom: 0px;
  cursor: pointer;

}

.awardlist__blockdate {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding-bottom: 0px;
}

@media screen and (max-width: 760px) {
  .section2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
