
.colors {
    --base-font-size: 16;
  
    /* palette colors */
    --clr-Dell: #32731B;
    --clr-Green-Mist: #D6D6B1;
    --clr-Mine-Shaft:#232020;
    --clr-Alto:#D9D9D9;
  /* 
    --button-bg-color:var(--clr-Mine-Shaft);
    --headers: var(-clr-Dell);
    --btn-text:var(--clr-Green-Mist);
    --contact-footer:var(--clr-Alto); */
  }
  
