
@import url('https://fonts.googleapis.com/css?family=Raleway');


.resumebtn{
    align-items: center;
    padding: 2px 1px;
    border: 2px solid #D6D6B1;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.69vw;
    width: 25vh;
    height:6vh;
    font-family: Raleway;
    font-size: calc(20 / var(--base-font-size) * 1rem);
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    line-height: 1.15;
    color: #D6D6B1;
    background-color: transparent;
}

