@import url('https://fonts.googleapis.com/css?family=Raleway|Lora|Montserrat|Nunito');


.menu a{
  color: var(--clr-Green-Mist);
   padding-left: 1em;
}
.menu li{
    float: left;
}
.menu a:hover{
    opacity: 1;
    color:var(--clr-Dell) !important;
  }



.iam{
  font-size: 1.5rem;
  padding-bottom: -2vw;
}

.frontend{
  font-size: 2rem;
  margin: 0;
  padding-top: 1vh;
}
.name{
  font-size: 3rem;
  margin:0;
}

@media (min-width: 768px) {
  .name{
    font-size: clamp(4rem,  5vw, 8rem);
  }
}

 
.container2{
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container2{
    min-height: 100vh;
  }
}

 
.menu__logo{
    position: fixed;
    width: 15vw;
    height: 90vw;
    z-index: 1;
    margin-left: 2vh;
    margin-top: 10px;
  }

  .about {
    display: flex;
  }
@media (min-width: 768px) {
    .menu__logo{
      width: 9vw;
      height: 55vw;
      
    }

    .right {
      margin-top: 20vw;
      display: inline-block;
      width: 92vw;
     
    }

    .info{
      display: flex;
    }

  .iam{
    font-size: 2rem;
    padding-top: 2.1vw;
  }

  .frontend{
    font-size: clamp(3rem, 4vw, 4.5rem);
    padding-top: 1vh;
  }


}