
.section2 {
  padding-left: 19vw;
  padding-top: 22vw;
  padding-bottom: 0 !important;
  margin-bottom: 20vh;
}




.title {
  margin-left: 134vw;
  color:var(--clr-Dell);
  margin-bottom: 20vw;
  font-size: 5rem;
  margin-bottom: 20vh;


}
.row{
  width: 292vw;
}



.carditem:nth-child(1){
  margin-left: 26vw;
  margin-top: 12vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 300vw;
  height: 300vw;
}

.carditem:nth-child(1):hover{
  border: 4px solid var(--clr-Dell);

}

.carditem:nth-child(2){
  margin-left: 26vw;
  margin-top: 12vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 300vw;
  height: 300vw;
}
.carditem:nth-child(2):hover{
  border: 4px solid var(--clr-Dell);

}
.carditem:nth-child(3){
  margin-left: 26vw;
  margin-top: 12vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 300vw;
  height: 300vw;
}


.carditem:nth-child(3):hover{
  border: 4px solid var(--clr-Dell);

}




.infos{
 
    margin-right: 5vw;
    margin-bottom: 5vw;
}

.projectcard__title{
  font-size: 4rem;
  margin-top: 25vw;
  margin-left: 20vw;
  color: var(--clr-Green-Mist);

}

.projectcard__description{
  font-size: 2.2rem;
  margin-left: 20vw;
  margin-right: 19vw;
  margin-top: 0vw;
  color: var(--clr-Green-Mist);
}


.pic{
  width: 168.8vh;
  display: inline-block;
}



@media (min-width: 768px) {
 
.section2 {
  padding-left: 0vw;
  padding-top: 1vw;
  padding-bottom: 0 !important;
  margin-bottom: 20vh;
}




.title {
  margin-left: 43vw;
  color:var(--clr-Dell);
  margin-bottom: 13vh;
  font-size: clamp(3rem, 4vw, 4.5rem);
}
.row{
  width: 292vw;
}



.carditem:nth-child(1){
  margin-left: 5vw;
  margin-top: 12vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 40vw;
  height: 40vw;
}

.carditem:nth-child(1):hover{
  border: 4px solid var(--clr-Dell);

}

.carditem:nth-child(2){
  margin-left: 55vw;
  margin-top: -14vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 40vw;
  height: 40vw;
}
.carditem:nth-child(2):hover{
  border: 4px solid var(--clr-Dell);

}
.carditem:nth-child(3){
  margin-left: 5vw;
  margin-top: -14vw;
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 40vw;
  height: 40vw;
}


.carditem:nth-child(3):hover{
  border: 4px solid var(--clr-Dell);

}

.infos{
    margin-right: 5vw;
    margin-bottom: 5vw;
    width: 110vh;
}

.projectcard__title{
  margin-top: 3vw;
  margin-left: -0.3vw;
  color: var(--clr-Green-Mist);
  font-size: clamp(2.5rem, 3vw, 3.8rem);


}

.projectcard__description{
  font-size: 1.1rem;
  margin-left: 0vw;
  margin-right: 20vw;
  margin-top: 0vw;
  color: var(--clr-Green-Mist);
}


.pic{
  width: 71.5vh;
  display: inline-block;
}
}