
.section3{
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .section3{
    min-height: 100vh;
  }
}



.title {
  color:var(--clr-Dell);  
}

.carditems{
  display: grid;
  gap: 3vh;
}

@media (min-width: 768px) {
  .carditems{
    grid-template-columns: repeat(2, 4fr);
    column-gap: 20vh;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "card1 . "
      ". card2"
      "card3 . ";
  }

  .carditem:nth-child(1){
    grid-area: card1;
  }
  .carditem:nth-child(2){
    grid-area: card2;
    margin-top: -30vh;
  }
  .carditem:nth-child(3){
    grid-area: card3;
    margin-top: -30vh;
  }
}
.carditem:nth-child(1){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  
}

.carditem:nth-child(1):hover{
  border: 4px solid var(--clr-Dell);

}

.carditem:nth-child(2){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
}
.carditem:nth-child(2):hover{
  border: 4px solid var(--clr-Dell);

}
.carditem:nth-child(3){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
}


.carditem:nth-child(3):hover{
  border: 4px solid var(--clr-Dell);

}

/* 
.infos{
 
    margin-right: 5vw;
    margin-bottom: 5vw;
} */

.projectcard__title{
  font-size: 2rem;
  color: var(--clr-Green-Mist);

}

.projectcard__description{
  color: var(--clr-Green-Mist);
}

/* 
.pic {
  width: 293vw;
  height: 150vw;
  position: relative;
} */



@media (min-width: 768px) {

.title {
  color:var(--clr-Dell);
  margin-bottom: 13vh;
  font-size: clamp(3rem, 4vw, 4.5rem);
}
/* .row{
  width: 292vw;
} */



.carditem:nth-child(1){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  
}

.carditem:nth-child(1):hover{
  border: 4px solid var(--clr-Dell);

}

.carditem:nth-child(2){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  
}
.carditem:nth-child(2):hover{
  border: 4px solid var(--clr-Dell);

}
.carditem:nth-child(3){
  background-color: var(--clr-dell);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);

}


.carditem:nth-child(3):hover{
  border: 4px solid var(--clr-Dell);

}


.projectcard__title{
  font-size: 2rem !important;
  color: var(--clr-Green-Mist);
  font-size: clamp(2.5rem, 3vw, 3.8rem);
}

.projectcard__description{
  font-size: 1rem !important;
  color: var(--clr-Green-Mist);
}

/* 
.pic{
  width: 71.5vh;
  display: inline-block;
} */
}