.section2 {
  margin-top: 10vh;
}


.title {
  margin-left: 58vh;
  color:var(--clr-Dell);
  margin-bottom: 20vw;
}

.projectcard__title{
  margin-top: 20vw;
  margin-left: 20vw;
  color: var(--clr-Mine-Shaft);
}

.projectcard__description{
  margin-left: 20vw;
  margin-right: 20vw;
}

.projectcard__link{
  margin-left: 20vw;
  margin-right: 20vw;
}
.leftCard {
  margin-left: -1vw;
  margin-top: 12vw;
  background-color: var(--clr-Green-Mist);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 294vw;
  height: 137vw;
  display: flex;
  
}
.leftCard:hover {
  border: 4px solid var(--clr-Dell);
}

.pic{
  width: 600vw;
  height: 20vw;
}

.rightCard {
  margin-left: -1vw;
  margin-top: 12vw;
  background-color: var(--clr-Green-Mist);
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 294vw;
  height: 137vw;
}
.rightCard:hover {
  border: 4px solid var(--clr-Dell);
}


.card3 {
  margin-left: -1vw;
  margin-top: 12vw;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--clr-Green-Mist);
  width: 294vw;
  height: 137vw;
}
.card3:hover {
  border: 4px solid var(--clr-Dell);
} 


.row {
  display: inline-block;
}

.section2 {
  padding-left: 88px;
  padding-top: 10px;
  padding-bottom: 0px !important;
  margin-bottom: 20vh;
}

@media (min-width: 768px) {
 
  .card1 {
    margin-left: -1vw;
    margin-top: 4vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid var(--clr-Green-Mist);
    width: 36.9vw;
    height: 38vw;
  }
  .card1:hover {
    border: 4px solid var(--clr-Dell);
  }

  .card2 {
    margin-left: 50vw;
    margin-top: -10vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid var(--clr-Green-Mist);
    width: 36.9vw;
    height: 38vw;
  }
  .card2:hover {
    border: 4px solid var(--clr-Dell);
  }


  .card3 {
    margin-left: -1vw;
    margin-top: -6vw;

    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid var(--clr-Green-Mist);
    width: 36.9vw;
    height: 38vw;
  }
  .card3:hover {
    border: 4px solid var(--clr-Dell);
  } 
  .aw {
    display: flex;
  }
  
  .row {
    display: inline-block;
  }
  
  .section2 {
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 0px !important;
    margin-bottom: 20vh;
  }
  
  /* .section__title {
    margin-bottom: 40px;
        white-space: nowrap;
    overflow: hidden;    
  }
   */

}
