
.left{
  padding-left: 120vw;
  margin-bottom: 30vh;
  margin-top: 40vh;
  width: 378vw;
}

.section__title {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: -220vw;
  margin-left: 140vw;
  color: var(--clr-Dell);
  display: none;
}

.about {
  padding-top: 55vw;
  width: 336vw;
  height: 300vh;
}

.lii{
  margin-top: 6vh !important;
  margin-left: 10vw;
}
.right {
  height: 400px;
  display: grid;
  padding-top: 6vh;
  justify-content:space-around  ;
}

.profilepic {
  margin-top: 900vh;
  object-fit: cover;
  border-radius: 10px;
  
}
.aboutdes {
  line-height: 15vw;
  margin-top: -30vw;
  margin-left: 40vw;
  font-size: 3.3rem;
  color: var(--clr-Green-Mist);
  text-align: center;
}

.resumebtn{
  margin-left: 119vw;
  width: 150vw !important;
  height: 30vw !important;
  font-size: 3.5rem !important;
  margin-top: 18vw !important;
  cursor: pointer;
}

.resumebtn:hover{
  color: var(--clr-Dell);
  border: 2px solid var(--clr-Dell);
}


/*---- Desktop -----*/

@media (min-width : 768px){
  
.left{
  padding-left: 0vw;
  margin-bottom: 30vh;
  margin-top: 30vh;
  width: 378vw;
}

.section__title {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: -220vw;
  margin-left: 140vw;
  color: var(--clr-Dell);
  
}

.about {
  padding-top: 3vw;
  max-width: 100vw;
  height: 300vh;
}

.lii{
  display: flex;
    margin-top: 30vh;
    margin-left:5vw;
    margin-right: 5vw;
}

.right {
  display: inline-block;
  /* margin-right: 161px;
  margin-left: 86px; */
  height: 400px;
  display: grid;
  padding-top: 2vw;

}


.profilepic {
  margin-top: 90px;
  object-fit: cover;
  border-radius: 10px;

}
.aboutdes {
  line-height: 2vw;
  margin-top: 25vw;
  margin-left: -15vw;
  font-size: clamp(1.438rem, 2vw, 3.6rem);
  color: var(--clr-Green-Mist);
  text-align: left;
}

.resumebtn{
  margin-left: 42vw !important;
  margin-top: -23vw !important;
  width: 17vw !important;
  height: 3.5vw !important;
  font-size: clamp(1.25rem, 0.095vw, 2.5rem) !important;
  
}

.resumebtn:hover{
  color: var(--clr-Dell);
  border: 2px solid var(--clr-Dell);
}
}