
.section2{
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .section2{
    min-height: 100vh;
  }
}

.section__title{
  opacity: 0;
  margin-top: -8vh;
}

.resumebtn{
cursor: pointer; 
margin-left: 13vh;
}

.resumebtn:hover{
  border: 2px solid var(--clr-Dell);
  color: var(--clr-Dell);
}
  
@media (min-width: 768px) {
  .section__title{
    opacity: 1;
    color: var(--clr-Dell) !important; 
    margin-top: 7vh;
  }

  .resumebtn{
    margin-left: 0;
    }
}  
  .lii{
    display: grid;
  }

 .profilepic{
  border-radius: 10px;

 }
@media (min-width: 768px) {
  .lii{
    grid-template-columns: repeat(2, 1fr);
  }
  .left{
    width: 60vh;
  }
  .right{
    text-align: left;
    padding-left: 1vh;
    width: 85vh;
  }
 .resumebtn{
  margin-top: 8vh;
 }
  
}

/* 
.left{
  object-fit: cover;
  width: 30vh;
  height: 27.3vh;
  justify-items: center;
  margin: auto;
}

.aboutdes{
  font-size: 0.9rem !important;
  color: var(--clr-Green-Mist);
}

 */

/*---- Desktop -----*/
